// Section - Related Tracks Styles
.related-artist-tracks {
    @include alignment (row, space-between, center, center);
    flex-wrap: wrap;
}

.related-track-links {
    @include colors ($white, $secondaryColor);
    display: inline-block;
    padding:10px;
    margin:10px;
    transition: $transition-bg;
    &:hover,
    &:active,
    &:focus {
        background-color:$accentColor;
    }
}

@media (max-width:700px) {
    .related-track-links {
        padding:5px;
        margin:5px;
    }
}

@media (max-width:550px) {
    .related-artist-tracks {
        @include alignment (row, center, center, center);
    }
}