// Section - Related Artist Styles
.inner-wrapper {
    width:90%;
    margin: 0 auto;
}

.search-results {
    margin-top:100px;
}

.related-artist-results{
    @include alignment (row, space-between, flex-start, center);
    flex-wrap:wrap;
    width:100%;
    padding:50px 0;
    .related-artist-card {
        @include colors ($white, $black);
        width:31%;
        margin-bottom:70px;
        padding:10px;
        border: $border;
        box-shadow: 15px 15px 0px 3px lighten($secondaryColor, 5);
    }
}

.image-container:hover img {
    opacity: 0.6;
}

.album-link {
    @include colors ($white, $black);
    width:90%;
    margin:0 auto;
    padding:5px;
    display: block;
    border: $border;
    transition: $transition-bg;
    &:hover {
        background-color: $secondaryColor;
    }
    &:focus, 
    &:active {
        background-color: $accentColor;
    }
}

// Media Queries

@media (max-width:1000px) { 
    .related-artist-results {
        @include alignment (row, space-between, center, center);
        .related-artist-card {
            width:48%;
        }
    }
    .album-link {
        width:100%;
    }
}

@media (max-width:700px) { 
    .related-artist-results {
        @include alignment (column, center, center, center);
        .related-artist-card {
            width:95%;
        }
    }
}
