// Colors 
$white:#fefefe;
$accent-color:#b75047;
$main-color:#4c8dab;
$black: #151c1c;

$border: 2px solid $main-color;
$transition-bg: background 0.5s ease;

@mixin colors ($color, $background-color) {
    color:$color;
    background-color:$background-color;
}


@mixin alignment ($flex-direction, $justify-content, $align-items, $text-align) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    text-align: $text-align;
}

@mixin colors ($color, $background-color) {
    color:$color;
    background-color:$background-color;
}
