// Colors 
$white:#fefefe;
$accentColor:#b75047;
$secondaryColor:#4c8dab;
$black: #171b1a; 
//#171b1a = rgba(23, 27, 26, 1)

$border: 2px solid $secondaryColor;

$transition-bg: background 0.5s ease;

@mixin colors ($color, $background-color) {
    color:$color;
    background-color:$background-color;
}

@mixin alignment ($flex-direction, $justify-content, $align-items, $text-align) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    text-align: $text-align;
}