@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|PT+Sans|PT+Sans+Narrow&display=swap');
@import './_variables.scss';
@import './_typography';
/* 
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
 */

header {
  width:100%;
  height:100vh;
  background:url(./header-dark-image.jpg) left / contain no-repeat #171b1a;
  @include alignment (row, right, center, left);
}

.header-content {
  width:60%;
}

h2,
h3 {
  font-size: 80px;
}

body{
  color: white;
  background-color:#171b1a;
}

h1{
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size:120px;
  line-height: 1;
  margin:0;
  padding:0;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size:18px;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


